@{
    bool showModal = Context.Items["ShowAccessDeniedModal"] != null && (bool)Context.Items["ShowAccessDeniedModal"];
}


<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SGC-SYSTEM</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.36/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2-documenteditor/documenteditor.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    @RenderSection("Styles", required: false)
    @RenderSection("Title", required: false)
    @RenderSection("Meta", required: false)
</head>

    <body class="bg-[#f8fafb] min-h-screen flex">
    <nav class="bg-[#e8edf3] w-64 p-4 flex flex-col gap-4">

        <div class="menu-item" id="Inicio-Home">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 3l10 9h-4v8h-12v-8h-4z" />
            </svg>
            <a href="@Url.Action("Index", "Home")" class="text-[#0e141b] text-sm font-medium leading-normal">Pagina Principal</a>
        </div>


        <div class="menu-item" id="procedimientos-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20.74 14.33L21.5 8l-6.33.76-3.21-5.94-3.21 5.94L2.5 8l.76 6.33L7 17.64 5.5 22l5.29-3.21L16 22l-1.5-4.36 3.24-3.31zM12 15.43l-2.44 1.47.65-2.61-1.91-1.79 2.64-.33 1.06-2.49 1.06 2.49 2.64.33-1.91 1.79.65 2.61z" />
            </svg>
            <a href="@Url.Action("Index", "Procedure")" class="text-[#0e141b] text-sm font-medium leading-normal">Procedimientos</a>
        </div>


        <div class="menu-item" id="documentos-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M19.41 8.59l-5-5A2 2 0 0 0 13 3H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V10a2 2 0 0 0-.59-1.41ZM14 4.5l5.5 5.5H15a1 1 0 0 1-1-1V4.5ZM6 20V5h6v5a2 2 0 0 0 2 2h5v8H6Z" />
            </svg>
            <a href="@Url.Action("Index", "Document")" class="text-[#0e141b] text-sm font-medium leading-normal">Documentos</a>

            @* < div class="submenu hidden bg-white border border-gray-200 rounded-lg shadow-md absolute w-48 mt-2">
                <a href="@Url.Action("Index", "Document")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Documentos</a>
                <a href="@Url.Action("Create", "Document")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Nuevo Documento</a>
            </div> *@
        </div>

                       
        @* <div class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z"></path>
            </svg>
            <p class="text-[#0e141b] text-sm font-medium leading-normal">Automated Version Control</p>
        </div> *@
        @* <div class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
            </svg>
            <p class="text-[#0e141b] text-sm font-medium leading-normal">Advanced Search</p>
        </div> *@
        <div class="menu-item" id="user-department-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M15 14c2.25 0 6.75 1.12 6.75 3.37V20H2.25v-2.63C2.25 15.12 6.75 14 9 14h6zM15 12h-6a3 3 0 01-3-3V6a3 3 0 013-3h6a3 3 0 013 3v3a3 3 0 01-3 3z"></path>
            </svg>
            <p class="text-[#0e141b] text-sm font-medium leading-normal">Control de Usuario y Departamentos</p>
            <div class="submenu hidden bg-white border border-gray-200 rounded-lg shadow-md absolute w-48 mt-2">
                @* <a href="@Url.Action("Create", "Departament")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Crear Departamento</a> *@
                <a href="@Url.Action("Index", "Departament")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Departamentos</a>
                <a href="@Url.Action("Index", "Role")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Roles</a>
                <a href="@Url.Action("Index", "Permission")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Permisos</a>
                <a href="@Url.Action("Index", "RolePermission")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Asignar Permisos</a>
                <a href="@Url.Action("Index", "Account")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Lista de Usuarios</a>

                <a href="/Identity/Account/Register" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Registrar Usuario</a>
                @* <a href="@Url.Action("Index", "Identity")" class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white">Crear Rol</a> *@
            </div>
        </div>
        @* <div class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Z"></path>
            </svg>
            <p class="text-[#0e141b] text-sm font-medium leading-normal">Master Standards</p>
        </div> *@
        
        <footer class="mt-auto text-center text-xs text-[#b8c2cc]">
            <div class="menu-item">
                @await Html.PartialAsync("_LoginPartial")
            </div>
            © 2024 SGCApp TYSOFTRD. Todos los derechos reservados
        </footer>
    </nav>
    <div class="modal fade" id="accessDeniedModal" tabindex="-1" role="dialog" aria-labelledby="accessDeniedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accessDeniedModalLabel">Acceso Denegado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    No cuenta con permisos para acceder a esta acción, favor contacte su supervisor.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <main class="p-6 bg-light">
        <div class="fixed-size bg-white p-4 rounded-lg shadow-lg">
            @RenderSection("ActionDescription", required: false)
            @RenderSection("Description", required: false)
            @RenderSection("Header", required: false)
            @RenderBody()
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var showModal = '@showModal' === 'True';

            if (showModal) {
                $('#accessDeniedModal').modal('show');
            }
        });
    </script>


 
    <script>
        
            document.getElementById('user-department-menu').addEventListener('mouseover', function () {
                this.querySelector('.submenu').classList.remove('hidden');
            });
        document.getElementById('user-department-menu').addEventListener('mouseout', function () {
            this.querySelector('.submenu').classList.add('hidden');
        });
  

        // Capturar el elemento del menú "Documentos"
        const documentosMenu = document.getElementById('documentos-menu');

        // Capturar el submenú dentro del menú de documentos
        const submenu = documentosMenu.querySelector('.submenu');

        // Añadir evento de clic al menú "Documentos"
        documentosMenu.addEventListener('click', function () {
            // Alternar la clase 'active' en el submenú para mostrarlo u ocultarlo
            submenu.classList.toggle('active');
        });

        // Capturar el elemento del menú "Control de Usuario y Departamentos"
        const userDepartmentMenu = document.getElementById('user-department-menu');

        // Capturar el submenú dentro del menú de "Control de Usuario y Departamentos"
        const userDepartmentSubmenu = userDepartmentMenu.querySelector('.submenu');

        // Añadir evento de clic al menú "Control de Usuario y Departamentos"
        userDepartmentMenu.addEventListener('click', function () {
            // Alternar la clase 'active' en el submenú para mostrarlo u ocultarlo
            userDepartmentSubmenu.classList.toggle('active');
        });

    </script>
    @RenderSection("ControlsSection", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
